# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/

# OS specific files
.DS_Store
.DS_Store?
._* 